<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite"><test verbose="2" preserve-order="true" name="Run on chrome">
    <classes><class name="org.example.actions.ActionDemo"/>
        <class name="org.example.actions.Assigment4"/>
        <class name="org.example.actions.Assigment6"/>
        <class name="org.example.basicSelenium.FluentWaitDemo"/>
    </classes></test></suite>